@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

$accent: #f48400;
$first-color:#83d0bd;
$secondary-color: #333333;
$white: #ffffff;
$black: black;
$ff: 'Heebo', sans-serif;



@mixin btn__primary($color, $bg-color, $font-size) {
	color: $color;
	background-color: lighten($color, 50%);
	font-size: $font-size;
	padding: .8rem 1.6rem;
	transition: .3s ease-in background-color, .3s ease-in color;
	box-shadow: -8px -80x 8px $first-color;
}
@mixin bg{
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center center;
}



.container{
	max-width: 100%;
	margin: 0 auto;
	padding: 1rem;
	@media(min-width: 992px){
		width: 1296px;
		padding: 1rem;
	}
}
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
	font-family: $ff;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}