@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primary-clr: #83d0bd;
$secondary-clr: #868686;
$dark-gray: #444;
$accent: #f48400;
$white: white;
$black:black;
$ff: 'Ubuntu', sans-serif;
$ff2: 'Heebo', sans-serif;

@mixin size($size) {
  @if $size == phone{
    @media (max-width: 768px) { @content; }
  } @else if $size == tablet {
    @media (min-width: 769px) { @content; }
  } @else if $size == desktop {
    @media (min-width: 1200px) { @content; }
  } @else if $size == desktoplg {
    @media (min-width: 1800px) { @content; }
  }
}
@mixin hovered($Y) {
	box-shadow: 0 1px 6px rgba($secondary-clr, 0.4);
	transform: translateY($Y);
}
//example mixin
// .header-title {  
// 	font-size: 2rem;  
// 	@include size(phone) {    
// 		 font-size: 1rem; 
// 	}
// }

@mixin btn($color, $hovered-color:null) {
	position: relative;
	cursor: pointer;
	display: inline-block;
	padding:1rem 3rem;
	background: $color;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1rem;
	z-index: 12;
	transition: 300ms ease-in box-shadow, 250ms ease-in transform, opacity .3s ease-in, background-color .3s ease-in;
	@include size(phone){
	padding: 1rem 2rem;
	}
	&:focus,
	&:hover{
		@include hovered(-4px);
		background-color: $hovered-color;
	}
}

@mixin bg{
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center center;
}
//globals
*, *:before, *:after {
  box-sizing: border-box;
  font-size: 16px;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
	font-family: $ff;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
body{
	width: 100%;
	height:100%;
	overflow-x:hidden;
}
.container{
	display: block;
	max-width: 1296px;
	padding:0 12px;
	margin: 0 auto;
	height: 100%;
}
ul{
	list-style: none;
}
img{
	max-width: 100%;
	height: auto;
}

sup, sub{
	font-size: .75rem;
	height: 100%;
}

.btn__primary {
@include btn($primary-clr, $accent);
}







